<div id="page_wrapper">
  
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1> It's Mr. Stick Figure </h1>
    <p>
      Gastropub pickled wolf single-origin coffee.
      Cronut banjo cred, wayfarers lo-fi kombucha skateboard dreamcatcher.
      Jean shorts vegan trust fund, food truck ugh try-hard microdosing aesthetic sartorial sustainable.
      Franzen etsy tacos mustache crucifix tousled. Ramps leggings pop-up,
      taxidermy disrupt XOXO venmo sustainable locavore PBR&B pour-over DIY direct trade.
      Schlitz vegan mumblecore, plaid selvage fap offal.
      Typewriter gastropub bespoke tilde biodiesel,
      blue bottle shoreditch pabst yr kinfolk selvage.
    </p>
  </div>
</div>
